POSTGRES_DB=retail_portfolio
POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password
MONGO_ROOT_USERNAME=your_mongodb_username
MONGO_ROOT_PASSWORD=your_mongodb_password
FDW_PASSWORD=your_secure_fdw_password